############################
# SISTEMA (macOS)
############################
.DS_Store
.AppleDouble
.LSOverride

############################
# VSCode
############################
.vscode/
.history/

############################
# IDEs
############################
.idea/
*.iml

############################
# JAVA
############################
*.class
*.log
*.jar
*.war
*.ear

############################
# MAVEN / GRADLE
############################
target/
build/
.gradle/

############################
# NODE
############################
node_modules/
dist/
coverage/

############################
# DOCKER
############################
*.pid
*.seed

############################
# LOGS
############################
logs/
*.log

############################
# TEMP
############################
tmp/
temp/
